<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Intensify by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
        <style>
                 .jumbotron {
                width: 400px;
                text-align: center;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
          <script>
            angular.module("Emprestimo", []);
            angular.module("Emprestimo").controller("EmprestimoCtrl", function ($scope) {

            });
        </script>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="index.html" class="logo">Loan already</a>
				<nav class="right">
					<a href="#" class="button alt">Log in</a>
				</nav>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="#contaForm">Login</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
				<ul class="actions vertical">
					<li><a href="#one"  class="button scrolly" class="button fit">Login</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<h1>Conheça a forma mais simples de se solicitar um emprestimo</h1>
					<p>Aqui na Loan already voçê encontra as melhores taxas para seu emprestimo, e o melhor com pouquissimos juros.</p>
					<ul class="actions">
						<li><a href="#one" class="button scrolly">Começe já </a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner flex flex-3">
					  <div ng-controller="EmprestimoCtrl as vm"> 
            <div class="jumbotron"> 
                <script type="text/javascript">

                            $(document).ready(function () {

                                $('#contaForm').submit(function () {
                                    if (($('#senha1').val()) !== ($('#senha2').val())) {
                                        //$('#mensagem').text("As senhas devem ser iguais");
                                        alert('Diferentes');
                                        return false;
                                    }

                                });
                            });

                </script>

                <form name="contaForm" id="contaForm" action="Solicitação.html">
                    <h2>Conta</h2>
                    <input type="text" class="form-control" name="conta" placeholder="Digite o numero da sua conta" required/><br>
                    <input type="password" id="senha1" class="form-control" name="senha1" placeholder="Digite sua senha" ng-model="vm.senha1" required="true" ng-minlength="6"/><br>
                    <input type="password" id="senha2" class="form-control" name="senha2" placeholder="Confirme sua senha" ng-model="vm.senha2" required=""/>
                    <br><input type="submit" class="btn btn-primary btn-block" value="Entrar" ng-disabled="!contaForm.$valid"/>
                </form>
            </div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<h2>Feugiat lorem</h2>
					<figure>
					    <blockquote>
					        "Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra<br /> magna etiam lorem ultricies in diam. Sed arcu cras consequat."
					    </blockquote>
					    <footer>
					        <cite class="author">Jane Anderson</cite>
					        <cite class="company">CEO, Untitled</cite>
					    </footer>
					</figure>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item box">
						<div class="image fit">
							<img src="images/pic02.jpg" alt="" />
						</div>
						<div class="content">
							<h3>Consequat</h3>
							<p>Placerat ornare. Pellentesque od sed euismod in, pharetra ltricies edarcu cas consequat.</p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="image fit">
							<img src="images/pic03.jpg" alt="" />
						</div>
						<div class="content">
							<h3>Adipiscing</h3>
							<p>Morbi in sem quis dui placerat Pellentesque odio nisi, euismod pharetra lorem ipsum.</p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="image fit">
							<img src="images/pic04.jpg" alt="" />
						</div>
						<div class="content">
							<h3>Malesuada</h3>
							<p>Nam dui mi, tincidunt quis, accu an porttitor, facilisis luctus que metus vulputate sem magna.</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Entre em contato conosco</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(11) 95089-7643</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">thiagocotrim1@gmail.com</a></li>
						<li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>. Images <a href="https://unsplash.com">Unsplash</a>.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>